.header{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
    box-shadow: 4px 4px 8px rgb(160, 160, 160);
 
}
.header-logo img{
    width: 180px;
    cursor: pointer;
}

.header-search{
    width: 400px;
    background-color: rgb(228, 223, 223);
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 10px;
}

.header-search input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    padding: 10px;
    width: 350px;
}
.header-search svg{
    background-color: transparent;
    border-radius: 50px;
    width: 30px;
    height: auto;
    cursor: pointer;
}

.header-buttons{
    display: flex;
    width: 430px;
    justify-content: space-between;
    align-items: center;
}

.header-buttons button{
    background-color: brown;
    color: white;
    font-size: 20px;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.header-buttons button:hover{
    background-color: rgb(183, 45, 45);
    box-shadow: 3px 3px 6px rgb(195, 194, 194);
}