.modal-container{
    box-shadow: 0 1px 4px indigo;
    border-radius: 6px;
    background-color: white;
    padding: 2px;
    text-align: center;
    width: 400px;
    height: 400px;
    overflow: scroll;
    margin:auto;
    z-index: 10;
    display: block;
    position: fixed;
    top: 20%;
    left: 35%
  }
  